<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopteraphy</title>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    
</head>
<body>
  <div class="bg-dark text-white">
    <div class="p-5 bg-secondary text-white text-center">
      <h2>Daftar Shopteraphy</h2>
      <p class="lead"></p>
    </div>

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="produk.html">Produk</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="order.html">Order</a>
            </li>
          </ul>
        </div>
      </nav>

    <div id="app">

        <div class="container">
              <div class="col-md-12">
                <h4 class="mb-3">Produk Data  <button class="btn btn-md btn-success" v-on:click="resetForm()">Create new Produk </button>
                </h4>
                <table class="table table-dark table-hover">
                    <tr>
                        <th>ID</th>
                        <th>Foto</th>
                        <th>Nama Produk</th>
                        <th>Warna</th>
                        <th>Bahan</th>
                        <th>Harga</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr v-for="produk in produks">
                        <td>{{ produk.id }}</td>
                        <td>{{ produk.foto }}</td>
                        <td>{{ produk.namaProduk }}</td>
                        <td>{{ produk.warna }}</td>
                        <td>{{ produk.bahan }}</td>
                        <td>{{ produk.harga }}</td>
                        <td><button class="btn btn-md btn-warning" v-on:click="getEdit(produk)">Edit</button></td>
                        <td><button class="btn btn-danger" v-on:click="getDelete(produk)">Delete</button></td>
                    </li>
                </table>

                <div v-if="message" class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                
            
                <h4 class="mb-3">Informasi Produk</h4>
                <form class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="foto">Foto</label>
                      <input  v-model="foto" type="text" class="form-control" id="foto" placeholder="Masukkan Foto" value="" required>
                      <div class="invalid-feedback">
                        Valid full name is required.
                      </div>
                    </div> 

                    <div class="col-md-6 mb-3">
                      <label for="namaProduk">Nama Produk</label>
                      <input  v-model="namaProduk" type="text" class="form-control" id="namaProduk" placeholder="Masukkan nama produk" value="" required>
                      <div class="invalid-feedback">
                        Valid full name is required.
                      </div>
                    </div> 
                  </div>
      
                  <div class="mb-3">
                    <label for="warna">Warna</label>
                    <div class="input-group">
                      <input v-model="warna" type="text" class="form-control" id="warna" placeholder="Masukkan Warna produk" required>
                      <div class="invalid-feedback" style="width: 100%;">
                        Your username is required.
                      </div>
                    </div>
                  </div>
      
                  <div class="mb-3">
                    <label for="bahan">Bahan <span class="text-muted"></span></label>
                    <input v-model="bahan" type="text" class="form-control" id="bahan" placeholder="Masukkan bahan produk">
                    <div class="invalid-feedback">
                      Please enter a valid email address for shipping updates.
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="harga">Harga <span class="text-muted"></span></label>
                    <input v-model="harga" type="number" class="form-control" id="harga" placeholder="Masukkan harga produk">
                    <div class="invalid-feedback">
                      Please enter a valid phone number for shipping updates.
                    </div>
                  </div>
      
                  </div>
                
                  <hr class="mb-4">
                  <button v-if="!editMode && !deleteMode" v-on:click="createProduk" class="btn btn-primary btn-lg btn-block" type="submit">Submit Data</button>
                  <button v-if="editMode" v-on:click="updateProduk" class="btn btn-warning btn-lg btn-block" type="submit">Update Data</button>
                  <button v-if="deleteMode" v-on:click="deleteProduk" class="btn btn-danger btn-lg btn-block" type="submit">Delete Data</button>
                  
                </form>
              </div>
            </div>
          </div>

          <div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Services</h3>
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>About</h3>
                            <ul>
                                <li><a href="https://fti.unai.edu">FTI</a></li>
                                <li><a href="https://unai.edu">UNAI</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>Shopteraphy</h3>
                            <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                        </div>
                        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
                    </div>
                    <p class="copyright">Shopteraphy © 2022</p>
                </div>
            </footer>
          </div>

    <!-- Axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var app = new Vue ({
            el: '#app',
            data: {
                errors: [],
                message: null,
                produks:[],
                produkIdEdit: null,
                produkIdDelete: null,
                editMode: false,
                deleteMode: false,
                foto:'',
                namaProduk: '',
                warna: '',
                bahan: '',
                harga: ''
            },
            mounted: function() {
                this.getProduk();
            },
            methods: {
                getProduk() {
                    axios.get('https://621f1161311a705914ff344a.mockapi.io/produk')
                        .then(response => {
                            this.produks = response.data;
                            console.log(response);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                },
                createProduk: function(){
                    axios.post('https://621f1161311a705914ff344a.mockapi.io/produk', {
                        foto: this.foto,
                        namaProduk: this.namaProduk,
                        warna: this.warna,
                        bahan: this.bahan,
                        harga: this.harga
                    })
                    .then(response => {
                            this.getProduk();
                            this.message = "Your data has been submitted";
                            console.log(response);
                    })
                    .catch(error => {
                            console.log(error);
                    });
                },
                resetForm: function () {
                    this.message = null;
                    this.editMode = false;
                    this.deleteMode = false;
                    this.produkIdEdit = null;
                    this.foto = null;
                    this.namaProduk = null;
                    this.warna = null;
                    this.bahan = null;
                    this.harga = null;
                },
                getEdit: function (produk) {
                    this.message = null;
                    this.editMode = true;
                    this.deleteMode = false;
                    this.produkIdEdit = produk.id;
                    this.foto = produk.foto
                    this.namaProduk = produk.namaProduk;
                    this.warna = produk.warna;
                    this.bahan = produk.bahan;
                    this.harga = produk.harga;
                },
                getDelete: function (produk) {
                    this.message = null;
                    this.deleteMode = true;
                    this.editMode = false;
                    this.produkIdDelete = produk.id;
                    this.foto = produk.foto;
                    this.namaProduk = produk.namaProduk
                    this.warna = produk.warna;
                    this.bahan = produk.bahan;
                    this.harga = produk.harga;
                },
                updateProduk: function () {
                    axios.put(`https://621f1161311a705914ff344a.mockapi.io/produk/${this.produkIdEdit}`, {
                            foto: this.foto,
                            namaProduk: this.namaProduk,
                            warna: this.userName,
                            email: this.email,
                            phone: this.phone,
                        })
                        .then(res => {
                            // handle success
                            this.message = "Your data has been updated";
                            this.getProduk();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                },
                
                deleteProduk: function () {
                    axios.delete(`https://621f1161311a705914ff344a.mockapi.io/produk/${this.produkIdDelete}`)
                        .then(res => {
                            // handle success
                            this.message = "Your data has been deleted";
                            this.getProduk();
                        })
                        .catch(err => {
                            // handle error
                            console.log(err);
                        })
                }
            }
        }) 
    </script>
</body>
</html>